.task-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5%;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    margin-left: 4%;
    min-height: auto;
    /* max-height: 200px; */
    overflow: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.buttons-container{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap:10px;
}